html {
    scroll-behavior: smooth;
}
.bg{
    background-color: #f9f9f9;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    color: #414042;
}
nav img{
    width: 2rem;
}
.button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
    border-radius: 0.5rem;
    text-decoration: none;
}
.button1{
    margin-right: 0.5rem;
    background: transparent;
    color: #414042;
}
.button1:hover {
    background: #2d83b6;
    color: #dbecf4;
}
.button1:active {
    background: #2d83b6;
    color: #dbecf4;
}
.navbar{
    background-color: white;
}
.container {
    margin:0 auto;
}
.profileimg{
    width: 80%;
}
.eduimg{
    width: 60%;
    vertical-align:middle;
}
.name {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: -1.5rem;
}
.xanh{
    color:#015c93;
}
.job {
    margin-top: -0.5rem;
}
.subtitle{
    color: gray;
}
.button2{
    background: linear-gradient(to right,#0f5ca0 0%,#012440 100%);
    color: whitesmoke;
}
.button2:hover {
    color: whitesmoke;
    transform: scale(1.05);
}
.titlespacing1{
    margin-bottom: -1rem;
}
.line{
    background-color: #414042;
    margin: 11px 5px;
    position: absolute;
    width: 2px;
}
.line1{
    position: relative;
}
.skillicon {
   width: 100%;
}
.slide-container{
    width: 100%;
    padding: 40px 0;
}
.card{
    box-shadow: 2px 2px 25px #a1a1a1;
    border-radius: 25px;
    background-color: #FFF;
}
.swiper-pagination{
    transform: scale(1.2);
  }
.swiper-pagination-bullet{
    background-color: #80aac2;
    opacity: 1;
  }
.swiper-pagination-bullet-active{
    background-color: #015c93;
}
.anhrs1{
    width: 100%;
}
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
.tabset .tab-panel {
    display: none;
  }
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}
  /*
   Styling
  */
.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 2rem;
    height: 0.5rem;
    border-radius: 5px;
    background: #8d8d8d;
}
.tabset > label:hover,
.tabset > input:focus + label {
    color: #2d83b6;
}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #015c93;
}
.tabset > input:checked + label {
    margin-bottom: -1px;
}
.tab-panel {
    padding: 30px 0;
}
.button3{
    border: 3px solid #012440;
    padding:8px 16px;
    background: transparent;
    color: #012440;
}
.button3:hover {
    background: #012440;
    color: whitesmoke;
}
.bgcontact{
    background-color: #012440;
}
#CONTACTa {
    color: whitesmoke;
}
.boxed {
    position: relative;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: #f9f9f9;
    border-radius: 2.3rem;
    
}
.boxed:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -5px;
    background-image: linear-gradient(to right top, #80aac2, #012440);
    border-radius: 2rem;
    box-shadow: 2px 2px 25px #a1a1a1;
}
.button4{
    border: 3px solid #848484;
    padding:8px 16px;
    background: transparent;
    color: #848484;
}
.button5{
    border: 3px solid #2d83b6;
    padding:8px 16px;
    background: #2d83b6;
    color: whitesmoke;
}
.button5:hover {
    transform: scale(1.05);
    color: whitesmoke;
}
@media (max-width: 767.98px){
    .line{
        height: 25rem;
        }
    .anhrs {
        width: 50%;
    }
    .slide-content{
        margin: 0 40px;
    }
    .titlespacing{
        padding-top: 5rem;
    }
    .titlespacing1{
        margin-bottom: 2rem;
    }
    .mini {
        margin-left: 1rem;
    }
}
@media (min-width: 768px){
    .line{
        height: 22rem;
        }
    #SKILLa img {
    width: 2rem;
    }
    .section1{
        padding-top: 5rem ;
    }
    .anhrs {
        width: 60%;
    }
    .slide-content{
        margin: 0 100px;
    }
    .titlespacing1{
        margin-bottom: 2rem;
    }
}
@media (max-width: 991.98px){
    .logo{
    transform: translateX(1.7rem);
    }
    .button1 {
        width: 100%;
        text-align: start;
    }
    .slide-content{
        padding: 40px;
        overflow:hidden;
    }
    .section1{
    padding-top: 5rem ;
    }
    .titlespacing{
        padding-top: 5rem;
    }
    .titlespacing2{
        margin-bottom: -3rem;
    }
}
@media (min-width: 992px){
    .line{
        height: 23.5rem;
        }
    .skillicon {
        width: 150%;
    }
    .card:hover{
        box-shadow: 2px 2px 25px #65a0bc;
        transform: translateY(-0.5rem) scale(1.01);
    }
    .anhrs {
        width: 75%;
    }
    .slide-content{
        margin: 0 40px;
      }
    .titlespacing{
        padding-top: 5rem;
    }
    .titlespacing1{
        margin-bottom: 1rem;
    }
    .boxed {
        width: 75%;
    }
}
@media (min-width: 1200px){
    .bio{
        margin-top: 2rem;
    }
    .line{
        height: 23.5rem;
    }
    .section1{
            padding-top: 7rem ;
    }
    .titlespacing{
        padding-top: 5rem;
    }
    .titlespacing1{
        margin-bottom: 0rem;
    }
    .titlespacing2{
        margin-bottom: 0rem;
    }
    .boxed {
        width: 60%;
    }
}
@media (min-width: 1399.98px){
    .bio{
        margin-top: 2rem;
    }
    .line{
        height: 22rem;
        }
    .titlespacing{
        padding-top: 8rem;
    }
    .titlespacing1{
        margin-bottom: 1rem;
    }
    .titlespacing2{
        margin-bottom: 1rem;
    }  
    .boxed {
        width: 55%;
    }  
}