.bg{
    background-color: #f9f9f9;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
}
nav img{
    width: 2rem;
}
.button {
    border: none;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:700;
    border-radius: 0.3rem;
}
.button1{
    margin-right: 0.5rem;
    background: transparent;
    color: black;
}
.button1:hover {
    background: #2d83b6;
    color: #dbecf4;
}
@media (max-width: 991.98px){
    .logo{
    transform: translateX(1.7rem);
    }
    .button1 {
        width: 100%;
        text-align: start;
    }
}
@media (min-width: 1399.98px){
    .bio{
        margin-top: 2rem;
    }
}
.navbar{
    background-color: white;
}
.container {
    margin:0 auto;
}
.section1{
    padding-top: 8rem ;
}
.profileimg{
    color: #53a6d8;
    width: 80%;
}
.name {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

    color:#015c93;
    margin-top: -1.5rem;
}
.job {
    margin-top: -0.5rem;
}
.btn-primary {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.3rem;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.subtitle{
    color: gray;
}
.button2{
    background: linear-gradient(to right,#0f5ca0 0%,#012440 100%);
    color: white;
}
.button2:hover {
    transform: scale(1.1);
}
.titlespacing{
    margin-top: 8rem;
    margin-bottom: 2rem;
}
br.responsive {
    display: inline; 
}
@media (max-width: 767.98px) {
    .br1.responsive{
        display:none
    }
  }
